---
layout: template1
---


<h1>Visual Materials Metadata Framework</h1>

<p>The framework outlines metadata relating to specific information categories 
  relevant to cataloguing an object from the Visual collection. 
  It is recognised it may not be possible to provide content for each category, 
  but an ideal record should contain as many as available information allows, 
  with those included in the Inventory minimal viable record + Physical description, 
  Access status & conditions, reproduction conditions and condition as mandatory.</p>

  <hr>
<p><b>Metadata Types:</b>
{% for field in site.data.order.descriptive %}
  {% assign element = site.data.elements[field] %}
  {% include toc.html %}
{% endfor %}
</p>

<hr>

<h3>Metadata Types</h3>
<table class="floating-header" cellspacing="0">
{% for field in site.data.order.descriptive %}
  {% assign element = site.data.elements[field] %}
  {% include table.html %}
{% endfor %}
</table>


<br>
